%button {
    text: {
        transform: uppercase;
        decoration: none;
    }
    display: inline-block;
    padding: 1.4em 2em;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translate(0, -10%);
    }
}

.btn-call {
    @extend %button;
    color: #fff;
    background-color: $primary;
    font-weight: 600;
    letter-spacing: (2 / 16) * 1rem;
    & i {
        font-size: (20 / 16) * 1rem;
        margin-right: (5 / 16) * 1rem;
    }

    &:hover {
        box-shadow: 0 4px 11px rgba($primary, 0.55);
    }

    @include mq(410px) {
        padding: 1em 1.5em;
        font-size: (12 / 16) * 1rem;
        padding: 1em 1.5em;
    }

}

.btn-hero {
    @extend %button;
    color: #fff;
    background-color: $primary;
    border-radius: (5 / 16) * 1rem;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: (2 / 16) * 1rem;

    & i {
        font-size: (20 / 16) * 1rem;
        margin-right: (5 / 16) * 1rem;
    }

    &:hover {
        box-shadow: 0 4px 11px rgba($primary, 0.55);
    }
}