.form-group {
    padding: 0 (5 / 16) * 1rem;
    display: inline-block;
    min-width: 250px;
    height: (45 / 16) * 1rem;
    &__icon {
        margin-right: (5 / 16) * 1rem;
    }

    &__input {
        height: (20 / 16) * 1rem;
        font-size: (14 / 16) * 1rem;
        color: gray(3);
        padding: (7 / 16) * 1rem;

        outline: 1px solid transparent;
        border: {
            width: 1px;
            top: none;
            left: none;
            right: none;
        }
        position: relative;

        &::placeholder {
            color: gray(2);
        }
    }

    &__wrap {
        display: inline-block;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: $primary;
            position: absolute;
            left: 50%;
            bottom: 0;
            transition: 0.4s;
        }
    }

    &__wrap.active:after {
        width: 100%;
        left: 0;
    }

}
