.title {
    font-size: (30 / 16) * 1rem;
    font-weight: 500;
    font-family: $ff-serif;
    padding: (80 / 16) * 1rem 0;
    display: flex;
    justify-content: center;
    @include mq(500px) {
        font-size: (26 / 16) * 1rem;
        padding: (50 / 16) * 1rem 0;
        text-align: center;
    }

    &-light {
        color: gray(1);
    }
    &__heading {
        position: relative;
        padding: 0 (60 / 16) * 1rem;
        text-transform: uppercase;
        line-height: 1.2;

        &:before, &::after {
            content: '';
            display: block;
            position: absolute;
            width: (40 / 16) * 1rem;
            height: 2px;
            background-color: $accent;
            top: 50%;
            
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0!important;         
        }
    }

    @include mq(418px) {
        font-size: (20 / 16) * 1rem;
        text-align: center;
    }
    
}