.family {
    width: 100%;
    padding-bottom: (40 / 16) * 1rem;
    background: linear-gradient(rgba(#000, 0.7)), url('../../../assets/img/family_bg.png');
    background-size: cover;

    &__list {
        color: gray(1);
        font-size: (16 / 16) * 1rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
            display: inline-block;
            padding: 0 15px (15 / 16) * 1rem (50 / 16) * 1rem;
            position: relative;
            width: 33%;
            margin-bottom: (40 / 16) * 1rem;
            font-size: (20 / 16) * 1rem;
            line-height: 1.2;
            @include mq(900px) {
                width: 50%;
            }
            @include mq(630px) {
                width: 100%;
            }
            @include mq(374px) {
                font-size: (18 / 16) * 1rem;
            }

            &:before {
                content: url('../../../assets/img/icons9.svg');
                width: 35px;
                height: 30px;
                background-color: $primary;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                padding-left: (2 / 16) * 1rem;
                padding-top:(5 / 16) * 1rem;
                text-align: center;
                box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            }
        }
        
    }
}